@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');
:root{
    font-family: "Proxima Nova", Helvetica , sans-serif;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 2rem;
    --blue:#0C4E8D;
    --white: #ebf3fc;
    --orange :#FF983B;
}
body{
    margin:0;
}
h1{
    font-family: "Oswald", Helvetica , sans-serif;
    color:var(--orange);
    font-size:4.5vw;
    margin-bottom: 1%;
    line-height:3rem;
    text-align: center;
}
h2{
    font-family:"Crimson Text", Helvetica , sans-serif;
}
h3{
    margin:0;
}
#subheader{
    font-size: 2vw;
    line-height:1.5rem;
    text-align: center;
}
.hero-section{
    display: flex;
    flex:2;
    width:100%;
}

.hero-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    color: var(--white);
    width: 90%;
    padding: 0 10% 0 10%;
}

.banner{
    background-color: var(--white);
    width: 98.5%;
    height:21%;
    margin: 0 auto;
    padding: 10px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.banner h3{
    text-align: center;
    justify-content: center;
    color: rgb(8, 37, 65);
}

.arrow{
    width: 17px;
    height: 17px;
    transform: rotate(45deg);
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    margin:1% auto;
}
#goal,
#approach,
#five-stages{
    width: 60%;
    justify-content: center;
    margin: 2% auto;
}

#approach img,
#five-stages img{
    width:100%;
}
.disclaimer{
    font-size: smaller;
    font-style:italic;
    background: #ebf3fc;
}
@media only screen and (max-width: 500px){
    :root{
        line-height:1.6rem;
        font-size: 1rem;
    }
    .hero-section{
        flex:1;
    }
   .hero-text{
       margin-left:-100vw;
       width:100%;
 
       background-color: rgba(12, 79, 141, 0.829);
   }
   .banner{
      height:25%;
      width:100%;
   }
   .banner h3{
    width:90%;
    font-size: 1rem;
    line-height: 2rem;
   }
   .arrow{
       margin-top:8%;
       width:10px;
       height: 10px;
   }
   #header{
       font-size:2.5rem;
       line-height:3.8rem;
   }
   #subheader{
       font-size: 1.4rem;
       line-height:2.4rem;
   }
   #goal{
       margin-top: 20%;
   }
   #goal,
    #approach,
    #five-stages{
    width: 75%;
}
/*Image: hover or click: enlarge*/
}